@model IEnumerable<Group25_Final_Project.Models.Movie>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<form asp-action="Index" asp-controller="Search" method="get">
    <p class="form-group">
        Search: <input name="SearchString" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a> <a asp-action="Index" class="btn btn-danger">Show All</a>
    </p>
</form>

<label>Displaying</label>
@ViewBag.SelectedMovies
<label> out of  </label>
@ViewBag.AllMovies
<label>Movies</label>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tagline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MPAARating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tagline)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tagline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPAARating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunningTime)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MovieID })
            </td>
        </tr>
}
    </tbody>
</table>
<label>Displaying</label>
@ViewBag.SelectedMovies
<label> out of  </label>
@ViewBag.AllMovies
<label>Movies</label>
