@model Group25_Final_Project.Models.Showing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Showing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Schedule.ScheduleID)
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Choose A Date and Time for the Showing:</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">Choose A Date and Time for the Showing:</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="control-label">Select your seat:</label>

                <label asp-for="Movie" class="control-label">Choose your movie:</label>
                @Html.DropDownList("SelectedMovie", (SelectList)ViewBag.AllMovies, new { @class = "form-control" })
                <span asp-validation-for="Movie" class="text-danger"></span>
 
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SpecialEvent" /> @Html.DisplayNameFor(model => model.SpecialEvent)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label asp-for="ShowingStatus" class="control-label"></label><br />
                    <input type="radio" class="radio" asp-for="ShowingStatus" value="@ShowingStatus.Pending" />Add To Pending Schedule<br />
                    <input type="radio" class="radio" asp-for="ShowingStatus" value="@ShowingStatus.Approved" /> Add to Approved List<br />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-scheduleID="Model.ScheduleID">Back to List</a>
    

</div>

